<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::layout(~{::section})}"
>
  <head>
    <title>Admin Page</title>
    <meta
      charset="UTF-8"
      name="viewport"
      content="device=device-width, initial-scale=1.0"
    />
  </head>
  <body>
    <section>
      <div class="container p-5 mt-3">
        <div class="row">
          <div class="col-md-6 offset-md-2">
            <div class="card">
              <div class="card-header text-center fs-4">Add Product</div>
              <div class="card-body">
                <form>
                  <div class="mb-3">
                    <label>Enter Title</label>
                    <input type="text" name="title" class="form-control" />
                  </div>
                  <div class="mb-3">
                    <label>Enter Description</label>
                    <textarea rows="3" cols="" class="form-control"></textarea>
                  </div>
                  <div class="mb-3">
                    <label>Category</label>
                    <select class="form-control">
                      <option>--select--</option>
                      <option>Laptop</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label>Enter Price</label>
                    <input type="number" name="price" class="form-control" />
                  </div>
                  <div class="row">
                    <div class="mb-3 col">
                      <label>Enter Stock</label>
                      <input type="number" name="stock" class="form-control" />
                    </div>
                    <div class="mb-3 col">
                      <label>Upload Image</label>
                      <input type="file" name="image" class="form-control" />
                    </div>
                  </div>
                  <button class="btn btn-primary col-md-12">confirm</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
