<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::layout(~{::section})}"
>
  <head>
    <title>base</title>
    <meta
      charset="UTF-8"
      name="viewport"
      content="device=device-width, initial-scale=1.0"
    />
  </head>
  <body>
    <section>
      <div class="container mt-5 p-5">
        <div class="row">
          <div class="col-md-6 p-5 text-center offset-md-3">
            <h3>[[${msg}]]</h3>
            <a href="/signin" class="btn btn-sm btn-primary">Back to login</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
